<ion-view title="Rotacion" id="page7">
    <ion-content padding="true" style="background: url(img/O6fLE48HTYoXGzSAVAKF_Rotacion.jpg) no-repeat center;background-size:cover;" class="has-header">

	     <div class="list">
			  <label class="item item-input">
				<span class="input-label">Frequency</span>
				<input type="text" placeholder="0" ng-model="options.frequency">
			  </label>
			</div>	
			<button class="button button-full button-positive" ng-click="startWatching()">
			  Start Measurement
			</button>
			<button class="button button-full button-positive" ng-click="stopWatching()">
			  Stop Measurement
			</button>			
			<h2>X: {{measurements.x}}</h2>
			<h2>Y: {{measurements.y}}</h2>
			<h2>Z: {{measurements.z}}</h2>

</ion-content>
</ion-view>